  <launch>
    
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <arg name="node_start_delay" default="2.0" />  

    <node name="second_turtle" pkg="turtle_catch" type="second_turtle.py" respawn="false" output="screen" /> 	
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" args="/turtle1/cmd_vel:=/turtle2/cmd_vel" output="screen"/>
    
    <node name="catch" pkg="turtle_catch" type="catch.py" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " respawn="false" output="screen"/>
    <node pkg="rqt_plot" type="rqt_plot" name="plot_distances" args="/turtles_distance/x /turtles_distance/y" output="screen"/>

  </launch>
